<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indian Premier League | Algorithm</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

    </script>
    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <!--// web-fonts -->
</head>

<body>
<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}">THE IPL SEASON PREDICTOR</a></h1>
                </div>

                <div class="nav-contact-w3ls">
                                            </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">HOME</a></li>
                        <li><a href='#serve'>PREDICTIONS</a></li>
                        <li><a class="active" href="{% url 'about' %}">ALGORITHMS</a></li>
                        <li><a href="{% url 'gallery' %}">FLOWCHART</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>
<!-- //banner -->
<!-- about -->
<div class="about ">
    <div class="container back">
        <div class="wthree_head_section">
            <h3 class="w3l_header">About <span>IPL WINNER PREDICTOR</span></h3>
            <p>The Web app IPL Winner Prediction is developed to make effective prediction on dynamically changing
                dataset.
                <br><br>
                PyCharm is the tool used to develop this application and the algorithm used to train the machine
                learning model is Decition Tree algorithm.
                <br><br>
                The dataset used in this project is from Kaggle and various python libraries such as scikit learn,
                numpy, pandas,etc are used in order to code this model.

        </div>
    </div>
</div>

<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <div class="container">
        <h3>Indian Premier League</h3>
        <p>The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested during March or
            April and May of every year by eight teams representing eight different cities in India</p>
        <div class="botton">
            <a href="http://www.iplt20.com/" target="_blank">Visit the Ofiicial Website of IPL</a>
        </div>
    </div>
</div><!--js for bootstrap working-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>
