<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bokeh Scatter Plots</title>
   <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
      <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.2.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.2.min.js"></script>
 </head>
 <body>
     {{ div | safe }}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>
    {{ script | safe }}
</html>