



<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <title>Bokeh Plot</title>







        <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>




  </head>


  <body>

  {{div|safe}}


  {{script|safe}}




  </body>

</html>