<!DOCTYPE html>
<html lang="en">
<style>

/* The container */
.container1 {

  display: block;
  position: relative;
padding-left: 40px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width:40%;
  border:1px solid black;
  height:30px;
  color:black;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}









</style>

{% load staticfiles %}
<head>
    <title>IPL Predictor</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}









    </script>


    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <!--// web-fonts -->
    <script type="text/javascript">
function checkBoxLimit() {
	var checkBoxGroup = document.forms['team1']['player1'];
	var limit = 11;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}









    </script>
    <script type="text/javascript">
function checkBoxLimit1() {
	var checkBoxGroup = document.forms['team2']['player2'];
	var limit = 11;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}









    </script>
</head>

<body>
<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}">THE IPL SEASON PREDICTOR</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">HOME</a></li>
                        <li><a href='#serve'>PREDICTIONS</a></li>
                        <li><a class="active" href="{% url 'about' %}">ALGORITHMS</a></li>
                        <li><a href="{% url 'gallery' %}">FLOWCHART</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->

            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>

<div class="about">
    <div class="wthree_head_section">

        <form action="" method="post">
            {%csrf_token%}
            <div class="row">
                <div class="match">

                    <div class="col-sm-6" style="padding-left:250px;">
                        <label class="control-label " for="Match_No">Match No: </label>
                        <div>
                            <select name="Match_No" class=" form-control" id="Match_No" style="width:200px">
                                <option value="" selected="selected">---Select Match No---</option>
                                {% for row in csv %}
                                <option value="{{row.0}}">{{row.0}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <br>



            <div class="form-row">
                <div class="form-group col-md-6 ml-3">
                    <label class="control-label" for="T1" style="width:30%;">Team-1</label>
                    <input class="form-control" type="text" id="tex1" value=""/>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="T1">Team-2</label>
                    <input class="form-control" type="text" id="tex2" value=""/>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Team-1 Players List</label>
                    <br>
                    <input type="checkbox" value="" name='player1'> Player 1

                    <br>

                    <script type="text/javascript">checkBoxLimit()</script>
                </div>
                <br>
                <div class="form-group col-md-6">
                    <label class="control-label">Team-2 Players List</label>
                    <br>
                    <input type="checkbox" value="" name='player1'> Player 1

                </div>
            </div>
            <br>

            <div class="row">
                <div class="match">
                    <div class="col-sm-6" style="padding-left:250px;">
                        <label class="control-label  " for="id_runs">Toss won by</label>
                        <div>
                            <select name="venue" class=" form-control" id="id_runs" style="width:200px">
                                <option value="1">Team-1</option>
                                <option value="2">Team-2</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="match">
                    <div class="col-sm-6" style="padding-left:250px;">
                        <label class="control-label  " for="id_toss">Toss decision </label>
                        <div>
                            <select name="toss" class=" form-control" id="id_toss" style="width:200px">
                                <option value="1">Batting</option>
                                <option value="2">Fielding</option>
                            </select>

                        </div>
                        <br><br>

                    </div>

                </div>
            </div>
            <br>
            <div class="row" style="padding-left:400px;">
                <input class="btn btn-success" type="submit" value="SUBMIT" style="width:400px"/>
            </div>
        </form>

    </div>



<div class="wthree-mid jarallax">
    <div class="container">
        <h3>INDIAN PREMIER LEAGUE</h3>
        <p>Team Work makes the dream work.. Game banayega name!!</p>
    </div>
</div>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>

</div>
<!-- //smooth scrolling -->
<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- start-smoth-scrolling -->
<script src="{% static 'js/jarallax.js' %}"></script>


<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})









</script>
<!-- //Owl-Carousel-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});









</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});









</script>
<!-- //here ends scrolling icon -->
<!--js for bootstrap working-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->

<script>

<!--    var countChecked = function() {-->
<!--  var n = $( "input:checked" ).length;-->
<!--  $( "div" ).text( n + (n === 1 ? " is" : " are") + " checked!" );-->
<!--};-->
<!--countChecked();-->

<!--$( "input[type=checkbox]" ).on( "click", countChecked );-->

</script>

<script>
    $("#Match_No").change(function () {
      var match_no = $(this).val();
      console.log(match_no)

      $.ajax({
        url: '/getdata/',
        data: {
          'Match_No': match_no
        },
        dataType: 'json',
        success: function (data) {
          console.log("success ",data)
          console.log("t1 ",data['team1'])
          $("#tex1").val(data['team1'])
           $("#tex2").val(data['team2'])
<!--          $(select[name="T1"]).val(data['team1'])-->
<!--          $("div.team1.te1 select").val(data['team1']);-->
<!--          $("#T1").val(data['team1']).change();-->
<!--          $(#team1:#te1 :select[ID^='T1']").val(data['team1']);-->

<!--           $('#team1').find('input[type="text"]').val(data['team1']);-->
        }

      });



    });








</script>

</body>
</html>