<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indian Premier League|Match Predictor</title>
    <!-- Meta Tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}




    </script>


    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <!--// web-fonts -->
</head>

<body>
<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}">THE IPL SEASON PREDICTOR</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">HOME</a></li>
                        <li><a href='#serve'>PREDICTIONS</a></li>
                        <li><a class="active" href="{% url 'about' %}">ALGORITHMS</a></li>
                        <li><a href="{% url 'gallery' %}">FLOWCHART</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->

            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header"> MATCH <span>PREDICTOR</span></h3>
            <p>You can now check the winner of any match, of any season,
                also make the changes you wish to... and then check the result of the match</p>
            <p>Enter the match number of any season</p>
            <p>Make the tweaks you wish to make in the team and the venue</p>
            <p>Also the toss result can be changed</p>
            <p>Check the winner of the match by clicking the submit button</p>
            <p>See the changes occurring in the match with the tweaks you have made</p>


            <form action="" method="post">
                {%csrf_token%}
                <div class="text-align-center">
                <div class="colo">
                     {% if message %}
                             <center><b> {{message}}</b></center>
                             {%endif%}
                </div>
                    </div>

                <div class="match">

                    <br>
                    <br>
                    <div class="form-group">

                        <label class="control-label" for="id_team1">Team-1</label>
                        <div class="">
                            <select name="team1" class=" form-control" id="id_team1"
                                    onchange="checkSameTeam(this.value);getStadium(this.value);">
                                <option value="Mumbai">MI</option>
                                <option value="Kolkata">KKR</option>
                                <option value="Bangalore">RCB</option>
                                <option value="Pune">CSK</option>
                                <option value="Jaipur">RR</option>
                                <option value="Delhi">DD</option>
                                <option value="Dharamshala">KXIP</option>
                                <option value="Hyderabad">SRH</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="control-label" for="id_team2">Team-2</label>
                        <div class=" ">
                            <select name="team2" class=" form-control" id="id_team2"
                                    onchange="checkSameTeam(this.value);getStadium(this.value);">
                                <option value="Mumbai">MI</option>
                                <option value="Kolkata">KKR</option>
                                <option value="Bangalore">RCB</option>
                                <option value="Pune">CSK</option>
                                <option value="Jaipur">RR</option>
                                <option value="Delhi">DD</option>
                                <option value="Dharamshala">KXIP</option>
                                <option value="Hyderabad">SRH</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
<!--                    <div class="form-group">-->
<!--                        <div class="form-group">-->
<!--                             <label class="control-label">City</label>-->

<!--                            <div>-->
<!--                            <input type="text" value="stadium city" name="city" id="city" readonly/>-->
<!--                            </div>-->
<!--                            </div>-->
<!--                    </div>-->
                    <div class="form-group">
                        <label class="control-label" for="id_venue">Venue</label>

                        <div class=" ">
                            <select name="venue" class=" form-control" id="id_venue">
<!--                                <option value="1">Hyderabad</option>-->
                                 <option value="Hyderabad">Hyderabad</option>
                                <option value="Pune">Pune</option>
                                <option value="Rajkot">Rajkot</option>
                                <option value="Indore">Indore</option>
                                <option value="Bangalore">Bangalore</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Sharjah">Sharjah</option>
                                <option value="Ranchi">Ranchi</option>
                                <option value="Patna">Patna</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Kanpur">Kanpur</option>
                                <option value="Jaipur">Jaipur</option>
                                <option value="Ahmedabad">Ahmedabad</option>
                                <option value="Cuttack">Cuttack</option>
                                <option value="Nagpur">Nagpur</option>
                                <option value="Dharamsala">Dharamsala</option>
                                <option value="Kochi">Kochi</option>
                                <option value="Visakhapatnam">Visakhapatnam</option>
                                <option value="Raipur">Raipur</option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="control-label">Toss won by</label>
                        <div class=" ">
                            <select name="toss_win" class=" form-control" id="toss" onmousedown="whichTeamHasWonToss()" required>
                                <option selected disabled>Team who won the toss</option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="control-label" >Decision of the toss </label>
                        <div class=" ">
                            <select name="decision" class=" form-control" id="id_toss">
                                <option value="Bat">Batting</option>
                                <option value="Field">Fielding</option>
                            </select>
                        </div>

                    </div>
                    <br>
                    <br>

                    <button type="submit" class="btn btn-success btn-block" style="width:70%">Submit</button>
                    <button type="reset" class="btn btn-info btn-block" id="reset" style="width:70%">Reset</button>

                </div>


            </form>
            <br>
        </div>
    </div>
    <!-- //about -->
    <!-- wthree-mid -->
    <div class="wthree-mid jarallax">
        <div class="container">
            <h3>Each run matters..</h3>
            <p>Indian Premier League was started in the year 2008 and then there was no seeing back... </p>
        </div>
    </div>

    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                             style="opacity: 1;"> </span></a>
</div>
<!-- //smooth scrolling -->
<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

<script type="text/javascript" src="../static/js/javaScriptFunction.js"></script>


<!-- start-smoth-scrolling -->
<script src="{% static 'js/jarallax.js' %}"></script>
<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})




</script>
<!-- //Owl-Carousel-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});




</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});




</script>
<!-- //here ends scrolling icon -->


<!--js for bootstrap working-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>
