
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bokeh Scatter Plots</title>
   <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css" type="text/css" />
 </head>
 <body>

    {% if graph %}
<div style="width:600;height:500">
{{ graph|safe }}
</div>
 {{ script | safe }}
{% endif %}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"></script>

</html>