<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indian Premier League | Home</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="4th Umpire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style Sheets -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-CSS -->
	<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
	<!--// Font-Awesome-CSS -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
	<!--// Owl-Carousel-CSS -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!--// Owl-Carousel-CSS -->
	<!-- //Style Sheets -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet" />
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet" />
	<!--// web-fonts -->
	<style>
	.col-container {
		display: table; /* Make the container element behave like a table */
		width: 100%; /* Set full-width to expand the whole page */
	}
	.xyz{
  		display: block;
	}
	.col {
		display: table-cell; /* Make elements inside the container behave like table cells */
	}
	</style>
</head>
<body >
	<!-- banner -->
	<div class="banner jarallax" id="home">
		<header>
			<div class="container" >
				<div class="header-bottom-agileits">
					<div class="w3-logo">
						<h1><a href="{% url 'main2' %}"> IPL PREDICTOR</a></h1>
					</div>

					<div class="nav-contact-w3ls">
                                            </div>
					<div class="clearfix"></div>
				</div>
			</div>
		</header>
		<!-- navigation -->
		<div class="nav-bg">
			<div class="container">
				<nav class="navbar navbar-default shift">
					 <!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						    aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>

				  </div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a class="active" href="{% url 'main2' %}">HOME</a></li>
							<li><a href='#serve'>PREDICTIONS</a></li>
							<li><a href="{% url 'about' %}">ALGORITHMS</a></li>
<							<li><a  href="{% url 'gallery' %}">FLOWCHART</a></li>
								<li><a href="{% url 'contact' %}">CONTACT</a></li>
						</ul>

					</div>
					<!-- /.navbar-collapse -->

				</nav>
			</div>
		</div>
	<!-- //navigation -->
	</div>
	<!-- //banner -->

	<!-- Latest News -->
	<div class="practice-areas  ">
		<div class="container ">
			<div class="wthree_head_section">
				<a id='serve'><h3 class="w3l_header">BEGIN <span>PREDICTIONS</span></h3></a>
				<p>YOU CAN NOW GO BACK TO THE MATCHES AND CHANGE THE SCENARIOS!!</p>
			</div>

	<div class="container">
		<div class="col-sm-6">
			<div class="col area-right p1">
				<a class ="xyz" href={% url 'prematch' %}><h5>SEASON PREDICTION</h5></a>
	  			<p class="para-w3-agile">Go back and check the winners of various seasons..
					Aren't you excited to know whose going to be the winner next year!</p>
	  		</div>
		</div>

		<div class="col-sm-6">
			<div class="col area-right p2">
				<a class ="xyz" href={% url 'first_inn' %}><h5>MATCH PREDICTION</h5></a>
	  			<p class="para-w3-agile">Lets have a glimpse on any particular match and look for the
					changes occurring in the result when any parameter is changed!</p>
	  		</div>
		</div>
	</div>
	</div>
	</div>

	<!-- //Latest News -->
	<!-- wthree-mid -->
	<div class="wthree-mid jarallax">
		<div class="container">
			<h3>Indian Premier League</h3>
			<p>The Indian Premier League (IPL) is a professional Twenty20 cricket league in India contested during March or April and May of every year by eight teams representing eight different cities in India</p>
			<div class="botton">
				<a href="http://www.iplt20.com/" target="_blank">Visit the Ofiicial Website of IPL</a>
			</div>
		</div>
	</div>
<!-- //wthree-mid -->
	<!-- pricing -->
	<div class="w3ls-section wthree-pricing" id="pricing">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="w3l_header">IPL <span> Teams</span></h3>
			</div>
			<div class="pricing-grids-info">

								<div class="pricing-grid grid-one" style="height:400px;">
									<div class="w3ls-top">
										<h3>MI</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="http://www.mumbaiindians.com/" target="_blank" ><img src={% static 'images/mi.jpg' %} style="height:165px; margin-top:25px; " ></a></li>
										</ul>
									</div>
								</div>


								<div class="pricing-grid grid-two" style="height:400px;">
									<div class="w3ls-top">
										<h3>RR</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="https://www.rajasthanroyals.com/" target="_blank"><img src={% static 'images/rr.jpg' %} style="height:240px;width:220px" ></a></li>
										</ul>
									</div>
								</div>



								<div class="zb pricing-grid grid-three" style="height:400px;">
									<div class="w3ls-top">
										<h3>DC</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="http://www.delhidaredevils.com/" target="_blank"></center><img src={% static 'images/dc.jpg' %} style="height:220px;width:220px"></a></li>
										</ul>
									</div>
								</div>

								<div class="zb pricing-grid grid-four" style="height:400px;">
									<div class="w3ls-top">
										<h3>KXIP</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="https://www.kxip.in/" target="_blank"><img src={% static 'images/k11p.jpg' %} style="height:220px; margin-left:30px;" ></a></li>

										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
				<!--End-slider-script-->
			</div>
		</div>
	</div>
	<div class="w3ls-section wthree-pricing" id="pricing">
		<div class="container">
			<div class="pricing-grids-info">


				<div class="pricing-grid grid-one" style="height:400px;">
					<div class="w3ls-top">
						<h3>CSK</h3>
					</div>
					<div class="w3ls-bottom">
						<ul class="count">
							<li><a href="https://www.chennaisuperkings.com/" target="_blank" ><img src={% static 'images/csk.jpg' %} style="height:250px; width:230px;" ></a></li>
						</ul>
						<div class="col-md-6 pl-5">
							 </div>

					</div>
				</div>

								<div class="pricing-grid grid-two" style="height:400px;">
									<div class="w3ls-top">
										<h3>KKR</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="http://www.kkr.in/" target="_blank"><img src={% static 'images/kkr.jpg' %}  style="height:220px; width:240px; "></a></li>

										</ul>
									</div>
								</div>
								<div class="pricing-grid grid-three" style="height:400px;">
									<div class="w3ls-top">
										<h3>SRH</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="http://www.sunrisershyderabad.in/" target="_blank"><img src={% static 'images/srh.jpg' %} style="height:220px; width:220px;"></a></li>
										</ul>
									</div>
								</div>

								<div class="pricing-grid grid-four" style="height:400px;width:250px;">
									<div class="w3ls-top">
										<h3>RCB</h3>
									</div>
									<div class="w3ls-bottom">
										<ul class="count">
											<li><a href="https://www.royalchallengers.com/" target="_blank"><img src={% static 'images/rcb.jpg' %}  style="height:235px; width:230px;"></a></li>
										</ul>
									</div>
								</div>
								<div class="clearfix"> </div>
				<!--End-slider-script-->
			</div>
		</div>
	</div>
	<!--//pricing-->
<!-- counter -->
	<div class="services-bottom stats services jarallax">
	<div class="banner-dott1">
		<div class="container" style="height:600px;">
<!--			Commentes are not removed so as to add news relevant for each  season please dont remove the-->
<!--			following commments..-->


		<div class="wthree_head_section">
<!--				<h3 class="w3l_header two">IPL <span>Statistics</span></h3>-->
<!--				<p class="tho">The Indian Premier League has been-->
<!--					widely associated with miracles happening every season-->
<!--					. Here, we present to you some of the conceivable highlights of the IPL from its-->
<!--				very beginning in 2008.</p>-->
			</div>
		  <div class="wthree-agile-counter">
<!--		  <div class="col-md-3 w3_agile_stats_grid-top">-->
<!--			<div class="w3_agile_stats_grid">-->
<!--				<div class="agile_count_grid_left">-->
<!--				<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>-->
<!--				</div>-->
<!--				<div class="agile_count_grid_right">-->
<!--					<p class="counter">5164</p>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--				<h4>Sixes</h4>-->
<!--			</div>-->
<!--		</div>-->
		<div class="col-md-3 w3_agile_stats_grid-top">
<!--			<div class="w3_agile_stats_grid">-->
<!--				<div class="agile_count_grid_left">-->
<!--					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>-->
<!--				</div>-->
<!--				<div class="agile_count_grid_right">-->
<!--					<p class="counter">263</p>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--				<h4>Highest Team Total</h4>-->
<!--			</div>-->
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
<!--			<div class="w3_agile_stats_grid">-->
<!--				<div class="agile_count_grid_left">-->
<!--					<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>-->
<!--				</div>-->
<!--				<div class="agile_count_grid_right">-->
<!--					<p class="counter">36</p>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--				<h4>Most Expensive Over</h4>-->
<!--			</div>-->
		</div>
		<div class="col-md-3 w3_agile_stats_grid-top">
<!--			<div class="w3_agile_stats_grid">-->
<!--				<div class="agile_count_grid_left">-->
<!--					<span class="fa fa-trophy" aria-hidden="true"></span>-->
<!--				</div>-->
<!--				<div class="agile_count_grid_right">-->
<!--					<p class="counter">154</p>-->
<!--				</div>-->
<!--				<div class="clearfix"> </div>-->
<!--				<h4>Maximum Individual Wickets Taken</h4>-->
<!--			</div>-->
		</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	</div>
</div>
	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- //smooth scrolling -->
	<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<!-- start-smoth-scrolling -->
	<script src="{% static 'js/jarallax.js' %}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
	<!-- flexSlider -->
				<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
<!-- //flexSlider -->

	<!-- Owl-Carousel-JavaScript -->
	<script src="{% static 'js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 2,
				lazyLoad: true,
				autoPlay: false,
				pagination: true,
			});
		});
	</script>
	<!-- //Owl-Carousel-JavaScript -->
	<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

	<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
		<script>
			$('.counter').countUp();
		</script>
<!-- //stats -->

	<!--js for bootstrap working-->
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<!-- //for bootstrap working -->
</body>
</html>
