{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indian Premier League | Algorithm</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}


    </script>
    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <!--// web-fonts -->
</head>

<body>
<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}">THE IPL SEASON PREDICTOR</a></h1>
                </div>

                <div class="nav-contact-w3ls">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">HOME</a></li>
                        <li><a class="active" href='#serve'>PREDICTIONS</a></li>
                        <li><a href="{% url 'about' %}">ALGORITHMS</a></li>
                        <li><a href="{% url 'gallery' %}">FLOWCHART</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>
<!-- //banner -->


<form action="{%url 'season_customise_process'%}" method="post" name="form">
    {%csrf_token%}
    <div class="container">
        <div class="wthree_head_section">
            <br>
            <div class="container">
                <center><b>Season {{season}} </b></center>

                <br>

                <div class="container">
                    <div class="row">
                        <div class="col col-lg-3">
                                <input type="text" class="form-control" name="team1" id="tex1"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team1_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-1 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex2"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team2_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-2 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex3"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team3_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-3 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex4"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team4_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-4 Players List</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex5"
                                       style="opacity:0.8;border-radius:5px;width:100%">

                            <div class="form-group" id="team5_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-5 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex6"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team6_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-6 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex7"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team7_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-7 Players List</label><br>
                            </div>
                        </div>
                        <div class="col col-lg-3">
                             <input type="text" class="form-control" name="team1" id="tex8"
                                       style="opacity:0.8;border-radius:5px;width:100%">
                            <div class="form-group" id="team8_list" style="padding-bottom:6px;">
                                <label class="control-label">Team-8 Players List</label><br>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{{season}}" name="year" id="season"
                       style="opacity:0.8;border-radius:5px;border-color:grey;width:30%;">
                <div class="container" style="width:70%;padding:0px;">
                    <center><input class="btn btn-success btn-align-center" id="custom_button" type="submit"
                                   value="SUBMIT"
                                   style="opacity:1;width:70%;margin-left:auto;"/></center>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <div class="container">
        <h3>Indian Premier League</h3>
        <p>Team Work makes the dream work.. Game banayega name!!</p>
    </div>
</div>
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- start-smoth-scrolling -->
<script src="{% static 'js/jarallax.js' %}"></script>
<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})



</script>
<!-- //Owl-Carousel-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});

function checkBoxLimit1() {
	var checkBoxGroup = document.forms['form']['player1'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play1 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit2() {
	var checkBoxGroup = document.forms['form']['player2'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play2 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit3() {
	var checkBoxGroup = document.forms['form']['player3'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play3 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit4() {
	var checkBoxGroup = document.forms['form']['player4'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play4 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit5() {
	var checkBoxGroup = document.forms['form']['player5'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play5 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit6() {
	var checkBoxGroup = document.forms['form']['player6'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play6 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit7() {
	var checkBoxGroup = document.forms['form']['player7'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play7 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit8() {
	var checkBoxGroup = document.forms['form']['player8'];
	var limit = 3;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play8 count "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}





</script>

<script type="text/javascript">
		$(document).ready(function () {
		$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});

<!--        var a = document.getElementsByName("player1")[0].value;-->
<!--		console.log("al ",a);-->


		$(document).ready(function () {

		var season = $("#season").val();
        console.log("ready ",season);

		$.ajax({
        url: '/fetch_teams/',
        data: {
          'season': season,
        },
        dataType: 'json',
        success: function (data) {
          console.log("success ",data)
          console.log("t1 ",data['other_teams']);

          var team=1;
          for (const [key, value] of Object.entries(data['other_teams']) ) {
                console.log("kkkey ",key);
                 for(var j=0;j<15;j++){
<!--                    console.log("player ",value[j]," j ",j);-->
                        switch(team){

                            case 1:
                                    console.log("team ",team);
                                    $("#tex1").val(key);
                                    team1_addCheckbox(value[j]);
                                    $('<br/>',{name:'player1'}).appendTo($('#team1_list'));
                                    break;

                            case 2:
                                    console.log("team ",team);
                                     $("#tex2").val(key);
                                    team2_addCheckbox(value[j]);
                                    $('<br/>',{name:'player2'}).appendTo($('#team2_list'));
                                    break;

                            case 3:
                                    console.log("team ",team);
                                     $("#tex3").val(key);
                                    team3_addCheckbox(value[j]);
                                    $('<br/>',{name:'player3'}).appendTo($('#team3_list'));
                                    break;

                            case 4:
                                    console.log("team ",team);
                                     $("#tex4").val(key);
                                    team4_addCheckbox(value[j]);
                                    $('<br/>',{name:'player4'}).appendTo($('#team4_list'));
                                    break;

                            case 5:
                                    console.log("team ",team);
                                     $("#tex5").val(key);
                                    team5_addCheckbox(value[j]);
                                    $('<br/>',{name:'player5'}).appendTo($('#team5_list'));
                                    break;

                            case 6:
                                    console.log("team ",team);
                                     $("#tex6").val(key);
                                    team6_addCheckbox(value[j]);
                                    $('<br/>',{name:'player6'}).appendTo($('#team6_list'));
                                    break;

                            case 7:
                                    console.log("team ",team);
                                     $("#tex7").val(key);
                                    team7_addCheckbox(value[j]);
                                    $('<br/>',{name:'player7'}).appendTo($('#team7_list'));
                                    break;


                            case 8:
                                    console.log("team ",team);
                                     $("#tex8").val(key);
                                    team8_addCheckbox(value[j]);
                                    $('<br/>',{name:'player8'}).appendTo($('#team8_list'));
                                    break;

                        }


                 }
                 team++;
            }



<!--            -->
<!--            console.log("first ",first)-->
<!--            $( "input[name='player2']" ).remove();-->
<!--            $("br[name='player1']").remove();-->
<!--            $("br[name='player2']").remove();-->
<!--            $("label[name='player2_label']").remove();-->
<!--            $("label[name='player1_label']").remove();-->
<!--            $( "input[name='player1']" ).remove();-->


          function team1_addCheckbox(name){
                    var container = $('#team1_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t1"+id, value: name,name:'player1',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player1_label',text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

            function team2_addCheckbox(name){
                    var container = $('#team2_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t2"+id, value: name,name:'player2',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player2_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }


             function team3_addCheckbox(name){
                    var container = $('#team3_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t3"+id, value: name,name:'player3',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player3_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

               function team4_addCheckbox(name){
                    var container = $('#team4_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t4"+id, value: name,name:'player4',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player4_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

               function team5_addCheckbox(name){
                    var container = $('#team5_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t5"+id, value: name,name:'player5',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player5_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

                function team6_addCheckbox(name){
                    var container = $('#team6_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t6"+id, value: name,name:'player6',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player6_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

                function team7_addCheckbox(name){
                    var container = $('#team7_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t7"+id, value: name,name:'player7',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player7_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

                function team8_addCheckbox(name){
                    var container = $('#team8_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t8"+id, value: name,name:'player8',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player8_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }



<!--              for(var i=0;i<3;i++){-->
<!--                   $("#t1"+i).prop('checked', true);-->
<!--                    checkBoxLimit();-->
<!--                   $("#t2"+i).prop('checked', true);-->
<!--                    checkBoxLimit1();-->
<!--              }-->


                $( "input[name='player1']" ).change(function() {
                        checkBoxLimit1();
                });

                 $( "input[name='player2']" ).change(function() {
                        checkBoxLimit2();
                });

                  $( "input[name='player3']" ).change(function() {
                        checkBoxLimit3();
                });

                    $( "input[name='player4']" ).change(function() {
                        checkBoxLimit4();
                });

                    $( "input[name='player5']" ).change(function() {
                        checkBoxLimit5();
                });

                    $( "input[name='player6']" ).change(function() {
                        checkBoxLimit6();
                });

                    $( "input[name='player7']" ).change(function() {
                        checkBoxLimit7();
                });

                    $( "input[name='player8']" ).change(function() {
                        checkBoxLimit8();
                });

<!--                 $("#custom_button").submit(function() {-->
<!--                          checkBoxLimit();-->
<!--                          checkBoxLimit1();-->
<!--                          checkBoxMinLimit();-->
<!--       });-->

            }
      });
		});


</script>


<!--js for bootstrap working-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>

</html>
