<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> Indian Premier League| THE WINNER OF THE SEASON </title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta name="keywords" content="4th Umpire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>
    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

 $(document).ready(function() {
            $("#year2").val(2008);
            });
<!--		$("#year2").attr('value',2008)-->







    </script>




     <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.2.min.js"></script>
        <script type="text/javascript">
            Bokeh.set_log_level("info");
        </script>


    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
    <!--// web-fonts -->
</head>

<body>
<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}"> THE IPL SEASON PREDICTOR</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">Home</a></li>
                        <li><a href='#serve'>PREDICTIONS</a></li>
                        <li><a class="active" href="{% url 'about' %}">Algorithms</a></li>
                        <li><a href="{% url 'gallery' %}">Flowchart</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->

            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>
<!-- //banner -->
<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_head_section">
            <h3 class="w3l_header"> THE WINNER OF THE UPCOMING SEASON!! </h3>
            <p>You can now predict the winner of the upcoming IPL season... Let's get started!!!</p>
            <p>Choose any season from the list and check the winner...</p>
        </div>


        <div class="ab-agile">
            <div style="padding: 0 0px;">
                <form action="{% url 'prematch'%}" method="post" style="display: inline">
                    {%csrf_token%}
                    <div>


                        <div class="text-align-center">
                            <div class="colo">
                                <center><b><label>Season:</label> {{season}}</b></center>
                                <center><b><label>Match No:</label> {{match_no}}</b></center>
                                <center><label>Team1 Eigen Score: </label>{{team1}}</center>
                                <center><label>Team2 Eigen Score: </label>{{team2}}</center>
                                <center><p><b><label>Predicted Winner: </label> {{winner}}</b> </p></center>
                                <center><p><b><label>Actual Winner: </label> {{actual_winner}}</b> </p></center>

                                <div class="form-group">

                                    <label class="control-label" for="id_team1">SEASON</label>


                                    <div class=" ">
                                        <select name="season" class=" form-control" id="id_team1">
                                            <option value="2008">Year 2008</option>
                                            <option value="2009">Year 2009</option>
                                            <option value="2010">Year 2010</option>
                                            <option value="2011">Year 2011</option>
                                            <option value="2012">Year 2012</option>
                                            <option value="2013">Year 2013</option>
                                            <option value="2014">Year 2014</option>
                                            <option value="2015">Year 2015</option>
                                            <option value="2016">Year 2016</option>
                                            <option value="2017">Year 2017</option>
                                            <option value="2018">Year 2018</option>
                                            <option value="2019">Year 2019</option>
                                            <option value="2020">Year 2020</option>
                                        </select>
                                    </div>

                                </div>

                                <br><br>

                                <input style="width:600px;" class="btn btn-success btn-block" id="graph" type="submit" value="Submit"/>


                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

        <div class="ab-agile">
            <div style="padding: 0 0px;">
                <form action="{% url 'customise_process'%}" method="post" style="display: inline">
                    {%csrf_token%}
                    <div>


                        <div class="text-align-center">
                            <div class="colo">
                                <div class="form-group">

                                    <input type="hidden" name="year23" id="year2">
                                    <br>
                                    <input style="width:600px;"  class="btn btn-info btn-block" type="submit" value="Customise"/>


                                </div>


                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>
    </div>

    <!--    <div class="modal fade" id="myModal" role="dialog">-->
    <!--        <div class="modal-dialog">-->

    <!--            &lt;!&ndash; Modal content&ndash;&gt;-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <button type="button" class="close" data-dismiss="modal">&times;-->
    <!--                    </button>-->
    <!--                    <h2 class="modal-title">And the winner is...</h2>-->
    <!--                </div>-->
    <!--                <div class="modal-body">-->
    <!--                    <p>-->
    <!--                        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;backend-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->


    <!--   <div class="col-md-6 aboutleft">
        <h3>Welcome to Salon</h3>
        <p class="para1">Donec bibendum velit quis diam venenatis, vulputate aliquam sapien blandit.
        Etiam dui massa, vehicula a convallis a, facilisis vitae neque.Pellentesque sit amet
        odio quis libero eleifend congue at ac justo. Suspendisse posuere congue accumsan Vulputate aliquam sapien. </p>
        <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
        <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
        <p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
        </div>
    <div class="col-md-6 aboutright">
        <img src="{% static 'images/p1.jpg' %}" class="img-responsive" alt="" />
    </div>
    <div class="clearfix"></div>-->
</div>
</div>
</div>
<!-- //about -->
<!-- wthree-mid -->
<div class="wthree-mid jarallax">
    <div class="container">
        <h3>INDIAN PREMIER LEAGUE</h3>
        <p>Team Work makes the dream work.. Game banayega name!!</p>
    </div>
</div>


<!-- Modal1 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>THE IPL SEASON PREDICTOR</h4>
                <img src="{% static 'images/11.jpg' %}" alt=" " class="img-responsive">
                <h5>Neque porro quisquam est qui dolorem </h5>
                <p>Ut in ligula sollicitudin, auctor elit vel, mollis tortor. Nullam id magna in eros mollis porttitor
                    vel et eros.Phasellus
                    sed iaculis nibh, non suscipit tortor. Aenean ante massa, lobortis et dolor eget, sollicitudin
                    luctus arcu. Donec eros
                    tortor, ultrices in lectus quis, aliquet commodo lectus.Donec eros tortor, ultrices in lectus quis,
                    aliquet commodo
                    lectus.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal1 -->
<!-- footer -->
<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
                                                                         style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- start-smoth-scrolling -->
<script src="{% static 'js/jarallax.js' %}"></script>
<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})







</script>
<!-- //Owl-Carousel-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});







</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});

        $("#id_team1").change(function() {

        var year=document.getElementById("id_team1").value
        document.getElementById("year2").value = year
        console.log(year)


        });








</script>
<!-- //here ends scrolling icon -->


<!--js for bootstrap working-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->
</body>
</html>
