
<!DOCTYPE html>
<script lang="en">
<style>

/* The container */
.container1 {

  display: block;
  position: relative;
padding-left: 40px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width:40%;
  border:1px solid black;
  height:30px;
  color:black;

}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}










</style>

{% load staticfiles %}
<head>
    <title>IPL Predictor</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="keywords" content="4th Umpire Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design"/>

    <script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>

    <!-- //Meta Tags -->
    <!-- Style Sheets -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!--// Bootstrap-CSS -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!--// Font-Awesome-CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <!-- //Style Sheets -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Khula:300,400,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">

    <!--// web-fonts -->
</head>
<script type="text/javascript">
     var checkCount=11;
    var checkCount1=11;
function checkBoxLimit() {
	var checkBoxGroup = document.forms['form']['player1'];
	var limit = 11;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;

			}
			checkCount=checkedcount;
			console.log("play1 "+checkCount);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}

function checkBoxLimit1() {
	var checkBoxGroup = document.forms['form']['player2'];
	var limit = 11;
	for (var i = 0; i < checkBoxGroup.length; i++) {
		checkBoxGroup[i].onclick = function() {
			var checkedcount = 0;
			for (var i = 0; i < checkBoxGroup.length; i++) {
				checkedcount += (checkBoxGroup[i].checked) ? 1 : 0;
			}
			checkCount1=checkedcount;
			console.log("play2 "+checkCount1);
			if (checkedcount > limit) {
				console.log("You can select maximum of " + limit + " checkboxes.");
				alert("You can select maximum of " + limit + " checkboxes.");
				this.checked = false;
			}
		}
	}
}


function checkBoxMinLimit() {
	var limit = 11;
		if (checkCount < limit || checkCount1 < limit) {
			console.log("Please select 11 players for each team "+checkCount+" and "+checkCount1);
			alert("Please select 11 players for each team");
            return false
			}

		else
		    return true

    }



    </script>
<body>

<!-- banner -->
<div class="banner-1 jarallax" id="home">
    <header>
        <div class="container">
            <div class="header-bottom-agileits">
                <div class="w3-logo">
                    <h1><a href="{% url 'main2' %}">THE IPL SEASON PREDICTOR</a></h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>
    <!-- navigation -->
    <div class="nav-bg">
        <div class="container">
            <nav class="navbar navbar-default shift">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'main2' %}">HOME</a></li>
                        <li><a href="{% url 'mainpred' %}">PREDICTIONS</a></li>
                        <li><a class="active" href="{% url 'about' %}">ALGORITHMS</a></li>
                        <li><a href="{% url 'gallery' %}">FLOWCHART</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>

                </div>
                <!-- /.navbar-collapse -->

            </nav>
        </div>
    </div>
    <!-- //navigation -->
</div>
<br>

<form action="{% url 'custom_process' %}" method="post" name="form" onsubmit="checkBoxLimit(); checkBoxLimit1();return checkBoxMinLimit();">
    {%csrf_token%}
    <div class="container">
        <div class="wthree_head_section">
            <center>
                <div style="width:70%;">
                    <center><b>Season {{season}} </b></center>

                    <br>

                    <div style="width:50%; float:left;text-align:left;">
                        <div>
                            <label for="tex1">Team-1</label>
                            <div class=" ">
                                <input type="text" class="form-control" name="team1" id="tex1"
                                       style="opacity:0.8;border-radius:5px;border-color:grey;width:60%;">

                            </div>
                        </div>
                        <br><br>

                        <div id="team1_list" style="padding-bottom:6px;">
                            <label>Team-1 Players List</label><br>
                            <script type="text/javascript">checkBoxLimit()</script>
                        </div>

                    </div>


                    <div style="width:50%;float:right;text-align:left;">

                        <div>
                            <label for="tex2">Team-2</label>
                            <div>
                                <input type="text" name="team2" id="tex2"
                                       style="opacity:0.8;border-radius:5px;border-color:grey;width:60%;">
                            </div>
                        </div>
                        <br>
                        <div id="team2_list" style="padding-bottom:6px;">
                            <label class="control-label">Team-2 Players List</label><br>
                            <script type="text/javascript">checkBoxLimit1()</script>
                        </div>
                    </div>

                    <br>

                    <br><br>

                      <div style="width:50%;float:right;text-align:left;">

                        <div>
                            <label for="tex2">Team-3</label>
                            <div>
                                <input type="text" name="team2" id="tex3"
                                       style="opacity:0.8;border-radius:5px;border-color:grey;width:60%;">
                            </div>
                        </div>
                        <br>
                        <div id="team3_list" style="padding-bottom:6px;">
                            <label class="control-label">Team-2 Players List</label><br>
                            <script type="text/javascript">checkBoxLimit1()</script>
                        </div>
                    </div>



                    <br><br>



                    <br><br>



                </div>

            </center>
        </div>
    </div>
    <div class="row" style="margin-left:450px;">
        <input class="btn btn-success" id="custom_button" type="submit" value="SUBMIT" style="width:300px"/>
    </div>
</form>

<br><br><br>
<div class="wthree-mid jarallax">
    <div class="container">
        <h3>INDIAN PREMIER LEAGUE</h3>
        <p>Team Work makes the dream work.. Game banayega name!!</p>
    </div>
</div>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"


                                                                         style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
<script type='text/javascript' src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
<!-- start-smoth-scrolling -->
<script src="{% static 'js/jarallax.js' %}"></script>
<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})










</script>
<!-- //Owl-Carousel-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});










</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/
			$().UItoTop({
				easingType: 'easeOutQuart'
			});
		});










</script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script>
    var first=false;
    $(document).change(function () {
      var match_no = $(this).val();
      console.log(match_no)

      $.ajax({
        url: '/getdata/',
        data: {
          'Match_No': match_no,
        },
        dataType: 'json',
        success: function (data) {
          console.log("success ",data)
          console.log("t1 ",data['team1'])
          console.log("player1 ",data['player1'])
          console.log("player2 ",data['player2'])

          $("#tex1").val(data['team1'])
          $("#tex2").val(data['team2'])

            console.log("first ",first)
            $( "input[name='player2']" ).remove();
            $("br[name='player1']").remove();
            $("br[name='player2']").remove();
            $("label[name='player2_label']").remove();
            $("label[name='player1_label']").remove();
            $( "input[name='player1']" ).remove();



          function team1_addCheckbox(name){
                    var container = $('#team1_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;


                    $('<input />', { type: "checkbox", id: "t1"+id, value: name,name:'player1',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player1_label',text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

            function team2_addCheckbox(name){
                    var container = $('#team2_list');
                    var inputs = container.find('input');
                    var id = inputs.length+1;

                    $('<input />', { type: "checkbox", id: "t2"+id, value: name,name:'player2',class:'form-control',style: 'background-color: #ccc;opacity:0.8;display: block;float:left;position: static;height:15px;padding-left: 0px;width:15px;margin-bottom: 3px;cursor: pointer;font-size: 6px;font-weight: 200;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;' }).appendTo(container);
                    $('<label />', { 'for': 'cb'+id, name:'player2_label', text: name,style: 'display:inline-block;float:left;' }).appendTo(container);

              }

           for(var i in data.player1){
                  team1_addCheckbox(data.player1[i]);
                  $('<br/>',{name:'player1'}).appendTo($('#team1_list'));
               }

            for(var i in data.player2){
                  team2_addCheckbox(data.player2[i]);
                   $('<br/>',{name:'player2'}).appendTo($('#team2_list'));
               }

              for(var i=0;i<12;i++){
                   $("#t1"+i).prop('checked', true);
                    checkBoxLimit();
                   $("#t2"+i).prop('checked', true);
                    checkBoxLimit1();

              }


<!--              $('select').prop('selectedIndex', 3);-->

<!--              var el = document.getElementsByTagName('select')[0];-->
<!--// assuming el is not null, select 4th option-->
<!--               el.selectedIndex = 3;-->


                $( "input[name='player1']" ).change(function() {
                        checkBoxLimit();
                });

                 $( "input[name='player2']" ).change(function() {
                        checkBoxLimit1();
                });



               first=true;

            }
      });

    });


       $("#custom_button").submit(function() {

            checkBoxLimit();
            console.log("1");
            checkBoxLimit1();
             console.log("2");
            checkBoxMinLimit();

       });

</script>

</body>
</html>